services:
  build:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: esp-idf-container-build
    volumes:
      - $PWD:$PWD
    tty: true
    stdin_open: true
    working_dir: $PWD
    command: idf.py build
